Repository F5Networks/f5-aws-cloudformation-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: aws_network_module_test_job, aws_function_module_test_job, aws_access_module_test_job, aws_dag_module_test_job, aws_application_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

aws_network_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_function_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_access_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_dag_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_application_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_standalone_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_payg_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_bigiq_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

ESECLDTPLT-3063 - Functional test enhancements
  .gitlab-ci.yml
Due: none

remove package url variable from autoscale update stack script
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/update_stack.sh
Due: aws_bigip_autoscale_payg_example_test_job

remove unused parameter from bigiq autoscale
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/update_stack.sh
Due: aws_bigip_autoscale_bigiq_example_test_job

Fixes for ESECLDTPLT-3086
  automated-test-scripts/data/test_policies/khanna.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_failover.sh
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none

ESECLDTPLT-3114: Update CST V2 Readmes with Best Plus Images/Update AMI maps
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/quickstart/README.md
  examples/quickstart/quickstart-existing-network.yaml
  examples/quickstart/quickstart.yaml
Due: aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-3062 - Make TS Values in Runtime-Init dynamic
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/create_stack.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-autoscale/bigip-autoscale-parameters.json
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

Autoscale runtime configs
  examples/autoscale/bigip-configurations/Rapid_Depolyment_Policy_13_1.xml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network-parameters.json
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network-parameters.json
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/failover/README.md
  examples/modules/network/network-parameters.json
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none

update test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

3140 - CFE storage fixes
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/common/delete_s3_bucket.sh
  examples/failover/README.md
  examples/failover/failover-existing-network-parameters.json
  examples/failover/failover-existing-network.yaml
  examples/failover/failover-parameters.json
  examples/failover/failover.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/quickstart/README.md
Due: aws_bigip_standalone_module_test_job

3158 - Support SSE KMS encrypted CFE S3 bucket
  Makefile
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/payg/full/demo_app.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/access/access.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: aws_access_module_test_job, aws_bigip_standalone_module_test_job

READMES:
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/diagrams/diagram-w-bastion.drawio
  examples/autoscale/bigiq/diagrams/diagram-w-bastion.png
  examples/autoscale/bigiq/diagrams/diagram.drawio
  examples/autoscale/bigiq/diagrams/diagram.png
  examples/autoscale/payg/README.md
  examples/autoscale/payg/diagrams/diagram-w-bastion.drawio
  examples/autoscale/payg/diagrams/diagram-w-bastion.png
  examples/autoscale/payg/diagrams/diagram.drawio
  examples/autoscale/payg/diagrams/diagram.png
  examples/failover/README.md
  examples/failover/diagrams/diagram.gif
  examples/failover/diagrams/diagram.png
  examples/quickstart/README.md
  examples/quickstart/diagrams/diagram-mulitple-vips.drawio
  examples/quickstart/diagrams/diagram-mulitple-vips.png
  examples/quickstart/diagrams/diagram-w-bastion.drawio
  examples/quickstart/diagrams/diagram-w-bastion.png
  examples/quickstart/diagrams/diagram.drawio
  examples/quickstart/diagrams/diagram.png
Due: none

converted failover runtime examples to yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: none

Clarify bigIpPeerAddress descriptions in Templates
  examples/failover/README.md
  examples/failover/failover-existing-network.yaml
  examples/failover/failover.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
Due: aws_bigip_standalone_module_test_job

3179: CFE S3 bucket uses SSE-S3 encryption by default
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/postpub_parameters4.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/postpub_parameters5.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/postpub_parameters6.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/prepub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/prepub_parameters4.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/prepub_parameters5.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/prepub_parameters6.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/access/access.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
Due: aws_access_module_test_job, aws_bigip_standalone_module_test_job

add db var workaround
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
Due: none

fix broken links
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/quickstart/README.md
Due: none

Path conditions:
  aws_network_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/network/*, examples/modules/network/network.yaml
  aws_function_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/function/*, examples/modules/function/function.yaml
  aws_access_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/access/*, examples/modules/access/access.yaml
  aws_dag_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/dag/**/*, examples/modules/dag/dag.yaml
  aws_application_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/application/**/*, examples/modules/application/application.yaml
  aws_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, examples/modules/bigip-autoscale/bigip-autoscale.yaml
  aws_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip-standalone.yaml
  aws_bigip_autoscale_payg_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/*, examples/autoscale/payg/autoscale.yaml
  aws_bigip_autoscale_bigiq_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, examples/autoscale/bigiq/autoscale.yaml
  aws_payg_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
  aws_byol_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
