Repository F5Networks/f5-aws-cloudformation-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: aws_network_module_test_job, aws_function_module_test_job, aws_access_module_test_job, aws_dag_module_test_job, aws_application_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

aws_network_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_function_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_access_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_dag_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_application_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_standalone_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_payg_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_bigiq_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

Link fix
  examples/failover/README.md
  examples/failover/diagram-w-bastion.png
  examples/failover/diagram.png
Due: none

Bigiq fix
  automated-test-scripts/data/f5-aws-cloudformation-v2/bigiq/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/prepub_parameters3.yaml
Due: aws_function_module_test_job, aws_dag_module_test_job

Esecldtplt-2898: update parameters to use 01/02 rather than a/b convention
  Makefile
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_active_active.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_active_standby.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_application.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_failover.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_login.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_sync.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/tests/verify_outputs.sh
  examples/failover/README.md
  examples/failover/failover-existing-network-parameters.json
  examples/failover/failover-existing-network.yaml
  examples/failover/failover-parameters.json
  examples/failover/failover.yaml
Due: none

ESECLDTPLT-2923 - updated ci/cd, smart:init
  .gitlab-ci.yml
  Makefile
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance01_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance02_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance01_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance02_with_app.yaml
Due: none

Esecldtplt-2926
  Makefile
  automated-test-scripts/f5-aws-cloudformation-v2/common/verify_create_access.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/verify_create_dag.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/verify_create_network.sh
Due: none

ESECLDTPLT-2659
  .gitlab-ci.yml
  automated-test-scripts/Makefile
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/byol/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/byol/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/byol/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/byol/prepub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/byol/test_policy.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/payg/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/payg/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/payg/prepub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/existing/payg/test_policy.yaml
  automated-test-scripts/data/test_policies/khanna.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/common/create_network_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/create_application_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/create_stack_defaults.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/daily_test_existing.yaml
  automated-test-scripts/outputs_diff_expected.yaml
  automated-test-scripts/parameters_diff_expected.yaml
  examples/failover/README.md
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol_with_app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg_with_app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol_with_app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg_with_app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol_with_app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg_with_app.yaml
  examples/quickstart/quickstart-existing-network-parameters.json
  examples/quickstart/quickstart-existing-network.yaml
Due: aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

Fix broken create BIG-IQ job
  automated-test-scripts/data/f5-aws-cloudformation-v2/bigiq/parameters.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/verify_onboard_bigiq.sh
  examples/quickstart/quickstart-existing-network-parameters.json
Due: none

updating version note and copyright year
  README.md
  examples/quickstart/README.md
Due: none

ESECLDTPLT-2842- Update IAM role for TS Cloudwatch consumer
  .gitlab-ci.yml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack.sh
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/modules/access/README.md
  examples/modules/access/access-parameters.json
  examples/modules/access/access.yaml
  examples/modules/access/sample_linked.yaml
  examples/modules/bigip-standalone/bigip-standalone-parameters.json
  examples/modules/telemetry/telemetry.yaml
Due: aws_access_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

ESECLDTPLT-2224
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/create_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/f5-existing-stack-byol-2nic-bigiq-licmgmt.template
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/failover/diagram-w-bastion.png
  examples/failover/diagram.png
  examples/modules/application/README.md
  examples/modules/application/application.yaml
  examples/modules/bastion/README.md
  examples/modules/bastion/bastion.yaml
  examples/modules/bastion/sample_linked.yaml
  examples/modules/dag/README.md
  examples/quickstart/README.md
Due: aws_application_module_test_job

smart:init fix typo
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_stack.sh
Due: none

ESECLDTPLT-3004 - [TEMPLATES 2.0][Failover] - BIG-IP Address Consistency
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/bigiq_confg.py
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/bigiq_config.base64
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/f5-existing-stack-byol-2nic-bigiq-licmgmt.template
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_stack.sh
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/payg/autoscale-parameters.json
  examples/failover/README.md
  examples/failover/failover-existing-network-parameters.json
  examples/failover/failover-existing-network.yaml
  examples/failover/failover-parameters.json
  examples/failover/failover.yaml
  examples/quickstart/quickstart-parameters.json
Due: none

Fixes for ESECLDTPLT-2989
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/postpub_parameters4.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/prepub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/prepub_parameters4.yaml
  automated-test-scripts/data/test_policies/khanna.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_application_01.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_application_02.sh
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/diagram.gif
  examples/failover/diagram.png
  examples/failover/failover-parameters.json
  examples/failover/failover.yaml
  examples/modules/network/README.md
Due: none

ESECLDTPLT-3025 - IAM audit, docs update
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/access/create_stack.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/failover-existing-network.yaml
  examples/failover/failover.yaml
  examples/modules/access/README.md
  examples/modules/access/access-parameters.json
  examples/modules/access/access.yaml
  examples/modules/access/sample_linked.yaml
  examples/modules/bigip-standalone/README.md
  examples/modules/bigip-standalone/bigip-standalone-parameters.json
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/modules/bigip-standalone/sample_linked.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: aws_access_module_test_job, aws_bigip_standalone_module_test_job

Add numbers to regex
  examples/failover/failover-existing-network.yaml
Due: none

ESECLDTPLT-3043 - Default Runtime URLs
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigiq/autoscale-existing-network-parameters.json
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/autoscale/payg/autoscale-parameters.json
  examples/autoscale/payg/autoscale.yaml
  examples/failover/failover-existing-network-parameters.json
  examples/failover/failover-existing-network.yaml
  examples/failover/failover-parameters.json
  examples/failover/failover.yaml
  examples/quickstart/quickstart-existing-network.yaml
  examples/quickstart/quickstart-parameters.json
  examples/quickstart/quickstart.yaml
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-2991
  .gitlab-ci.yml
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/f5-existing-stack-byol-2nic-bigiq-licmgmt.template
  automated-test-scripts/f5-aws-cloudformation-v2/common/f5-existing-stack-byol-2nic-bigiq-licmgmt.template
  examples/README.md
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/modules/access/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/modules/function/README.md
  examples/modules/telemetry/README.md
  examples/quickstart/README.md
  examples/quickstart/quickstart-existing-network.yaml
  examples/quickstart/quickstart.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

Link fix
  examples/autoscale/bigiq/README.md
Due: none

ESECLDTPLT-3056 - Remove hardcoded values in runtime init
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/access/README.md
  examples/modules/application/README.md
  examples/modules/bastion/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/modules/dag/README.md
  examples/modules/function/README.md
  examples/modules/network/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none

README updates
  README.md
  examples/README.md
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/modules/access/README.md
  examples/modules/application/README.md
  examples/modules/bastion/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/modules/dag/README.md
  examples/modules/function/README.md
  examples/modules/network/README.md
  examples/modules/telemetry/README.md
  examples/quickstart/README.md
Due: none

fix broken link
  examples/failover/README.md
Due: none

R22-1-1 - Merge main to develop
  .gitlab-ci.yml
  Makefile
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/bigiq_config.base64
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/daily_test.yaml
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/payg/autoscale-parameters.json
  examples/failover/README.md
  examples/failover/diagram.png
  examples/quickstart/quickstart-parameters.json
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

Path conditions:
  aws_network_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/network/*, examples/modules/network/network.yaml
  aws_function_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/function/*, examples/modules/function/function.yaml
  aws_access_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/access/*, examples/modules/access/access.yaml
  aws_dag_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/dag/**/*, examples/modules/dag/dag.yaml
  aws_application_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/application/**/*, examples/modules/application/application.yaml
  aws_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, examples/modules/bigip-autoscale/bigip-autoscale.yaml
  aws_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip-standalone.yaml
  aws_bigip_autoscale_payg_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/*, examples/autoscale/payg/autoscale.yaml
  aws_bigip_autoscale_bigiq_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, examples/autoscale/bigiq/autoscale.yaml
  aws_payg_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
  aws_byol_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
