Repository F5Networks/f5-aws-cloudformation-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: aws_network_module_test_job, aws_function_module_test_job, aws_access_module_test_job, aws_dag_module_test_job, aws_application_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

aws_network_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_function_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_access_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_dag_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_application_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_standalone_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_payg_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_bigiq_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

ESECLDTPLT-2636: Hard-coded S3 region for default case
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/quickstart/quickstart.yaml
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

Bump template Version
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/modules/access/access.yaml
  examples/modules/application/application.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/modules/dag/dag.yaml
  examples/modules/function/function.yaml
  examples/modules/network/network.yaml
  examples/quickstart/quickstart.yaml
Due: aws_network_module_test_job, aws_function_module_test_job, aws_access_module_test_job, aws_dag_module_test_job, aws_application_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

fix telemetry parent issue
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale.yaml
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

ESECLDTPLT-2635 - Create test which use default parameters
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/parameters.yaml
  automated-test-scripts/data/test_policies/defaults_test_policy.yaml
  automated-test-scripts/data/test_policies/post_release_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_launch_button.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/create_stack_defaults.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/defaults_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/common/verify_launch_button.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/create_stack_defaults.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/defaults_test.yaml
Due: aws_bigip_autoscale_payg_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-2599: New autoscale update policy parameters
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/prepub_parameters1.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/update_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_pause_time.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/update_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/create_stack.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-parameters.json
  examples/autoscale/payg/autoscale.yaml
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-autoscale/bigip-autoscale-parameters.json
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-autoscale/sample_linked.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

Esecldtplt 2647 - update bigiq environmental template to use version 8
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/test_policy.yaml
  automated-test-scripts/data/test_policies/post_release_test.yaml
  automated-test-scripts/data/test_policies/pre_release_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/common/bigiq_confg.py
  automated-test-scripts/f5-aws-cloudformation-v2/common/bigiq_config.base64
  automated-test-scripts/f5-aws-cloudformation-v2/common/create_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/create_s3_bucket.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/f5-existing-stack-byol-2nic-bigiq-licmgmt.template
  automated-test-scripts/f5-aws-cloudformation-v2/common/verify_onboard_bigiq.sh
Due: aws_bigip_autoscale_bigiq_example_test_job

ESECLDTPLT-2666: Fix BIGIP image id
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/prepub_parameters3.yaml
  automated-test-scripts/data/test_policies/kashcheev.yaml
  examples/quickstart/quickstart.yaml
Due: aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-2651 - Automate MRs to staging branch
  .gitlab-ci.yml
Due: none

ESECLDTPLT-2614: Automate Updating Tool Chain + Runtime Init Versions
  .gitlab-ci.yml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-autoscale/sample_linked.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/modules/bigip-standalone/sample_linked.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/quickstart.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-2600 - Automate Example Parameter Files
  Makefile
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/payg/autoscale-parameters.json
  examples/modules/access/access-parameters.json
  examples/modules/application/application-parameters.json
  examples/modules/bigip-autoscale/bigip-autoscale-parameters.json
  examples/modules/bigip-standalone/bigip-standalone-parameters.json
  examples/modules/dag/dag-parameters.json
  examples/modules/function/function-parameters.json
  examples/modules/network/network-parameters.json
  examples/modules/telemetry/telemetry-parameters.json
  examples/quickstart/quickstart-parameters.json
Due: none

ESECLDTPLT-2690: Remove DesiredCapacity; Add vpcCidr to BigipExternalSecurityGroup
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/dag/dag.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: aws_dag_module_test_job, aws_bigip_autoscale_module_test_job

ESECLDTPLT-2669: Default for autoPhonehome should be set to true
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters3.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/create_stack.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-2673 - Fix typo in deployment policy name
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters3.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/create_stack.sh
  examples/autoscale/bigip-configurations/Rapid_Deployment_Policy_13_1.xml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/quickstart/bigip-configurations/Rapid_Deployment_Policy_13_1.xml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-2670: Add Src IP Persistence to NLB Example
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/modules/dag/dag.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: aws_dag_module_test_job

Modified READMEs and diagrams to properly reference NLB Modified READMEs to remove telemetry pre-reqs and update customization instructions
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/diagram.drawio
  examples/autoscale/bigiq/diagram.png
  examples/autoscale/payg/README.md
  examples/autoscale/payg/diagram.drawio
  examples/autoscale/payg/diagram.png
  examples/quickstart/README.md
Due: none

ESECLDTPLT-2777 - Link checker
  .gitlab-ci.yml
  Makefile
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-parameters.json
  examples/autoscale/payg/autoscale.yaml
  examples/modules/bigip-autoscale/bigip-autoscale-parameters.json
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-autoscale/sample_linked.yaml
  examples/modules/bigip-standalone/bigip-standalone-parameters.json
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/modules/bigip-standalone/sample_linked.yaml
  examples/modules/telemetry/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/quickstart-parameters.json
  examples/quickstart/quickstart.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-2786: Update Images for CVEs in K50974556
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/prepub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/prepub_parameters3.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-parameters.json
  examples/autoscale/payg/autoscale.yaml
  examples/quickstart/README.md
  examples/quickstart/quickstart.yaml
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

ESECLDTPLT-2812: Parameter Defaults
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-parameters.json
  examples/autoscale/payg/autoscale.yaml
  examples/modules/application/application-parameters.json
  examples/modules/bastion/bastion-parameters.json
  examples/modules/bigip-autoscale/bigip-autoscale-parameters.json
  examples/modules/bigip-standalone/bigip-standalone-parameters.json
  examples/modules/dag/dag-parameters.json
  examples/modules/dag/dag.yaml
  examples/modules/network/network-parameters.json
  examples/quickstart/quickstart-parameters.json
Due: aws_dag_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

ESECLDTPLT-2810 Doc updates
  SUPPORT.md
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/diagram-w-bastion.drawio
  examples/autoscale/bigiq/diagram-w-bastion.png
  examples/autoscale/bigiq/diagram.drawio
  examples/autoscale/bigiq/diagram.png
  examples/autoscale/payg/README.md
  examples/autoscale/payg/diagram-w-bastion.drawio
  examples/autoscale/payg/diagram-w-bastion.png
  examples/autoscale/payg/diagram.drawio
  examples/autoscale/payg/diagram.png
  examples/modules/bastion/README.md
  examples/quickstart/README.md
  examples/quickstart/diagram-w-bastion.drawio
  examples/quickstart/diagram-w-bastion.png
  examples/quickstart/diagram.drawio
Due: none

Update broken link
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/quickstart/README.md
Due: none

ESECLDTPLT-2737 - BIG-IQ function params missing defaults
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/test_policy.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/parameters.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/common/create_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack_defaults.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/defaults_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_launch_button.sh
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-parameters.json
  examples/modules/bastion/bastion-parameters.json
  examples/modules/bigip-autoscale/bigip-autoscale-parameters.json
  examples/modules/bigip-standalone/bigip-standalone-parameters.json
  examples/quickstart/quickstart-parameters.json
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

Main to develop
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/payg/autoscale-parameters.json
  examples/quickstart/quickstart-parameters.json
Due: none

ESECLDTPLT-2804: Report CST2.0 template usage via Runtime-Init
  .gitlab-ci.yml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/tests/verify_runtimeinit_install_params.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/tests/verify_runtimeinit_install_params.sh
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job

Update and rename examples/modules/access/access.yaml to 例子/模块/使用权/access.yaml
  例子/模块/使用权/access.yaml
Due: none

ESECLDTPLT-2713 - Remove BIG-IQ parameters from autoscale template
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/postpub_parameters3.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/prepub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/prepub_parameters3.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack_defaults.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/update_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/function/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/function/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/function/tests/verify_lambda.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-parameters.json
  examples/modules/function/README.md
  examples/modules/function/function-parameters.json
  examples/modules/function/function.yaml
  examples/modules/function/sample_linked.yaml
  examples/quickstart/quickstart-parameters.json
Due: aws_function_module_test_job, aws_bigip_autoscale_bigiq_example_test_job

ESECLDTPLT-2791: Add t3.large to instance type
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

ESECLDTPLT-1851 - add README.md
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/existing/prepub_parameters5_existing.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/full/prepub_parameters.yaml
  examples/failover/README.md
  examples/failover/failover-existing-network-parameters.json
  examples/failover/failover-existing-network.yaml
  examples/failover/failover-parameters.json
  examples/failover/failover.yaml
  examples/images/architecture_diagram.gif
Due: none

ESECLDTPLT-2880 - Persistent BIG-IQ (AWS)
  .gitlab-ci.yml
  automated-test-scripts/data/f5-aws-cloudformation-v2/bigiq/parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/bigiq/test_policy.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/postpub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/postpub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/postpub_parameters2.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters1.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/prepub_parameters2.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/create_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/create_secret_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/delete_stack_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/find_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/revoke_bigiq_egress.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/verify_create_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/verify_delete_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/verify_license.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/scripts/verify_onboard_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/bigiq_confg.py
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/bigiq_config.base64
  automated-test-scripts/f5-aws-cloudformation-v2/bigiq/templates/f5-existing-stack-byol-2nic-bigiq-licmgmt.template
  automated-test-scripts/f5-aws-cloudformation-v2/common/bigiq_config.base64
  automated-test-scripts/f5-aws-cloudformation-v2/common/create_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/create_s3_bucket.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/create_secret.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/f5-existing-stack-byol-2nic-bigiq-licmgmt.template
  automated-test-scripts/f5-aws-cloudformation-v2/common/helper_init.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/verify_create_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/common/verify_onboard_bigiq.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_stack_defaults.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/daily_test.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/update_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_as3.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_login.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_ts.sh
Due: aws_bigip_autoscale_bigiq_example_test_job

Path conditions:
  aws_network_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/network/*, examples/modules/network/network.yaml
  aws_function_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/function/*, examples/modules/function/function.yaml
  aws_access_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/access/*, examples/modules/access/access.yaml
  aws_dag_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/dag/**/*, examples/modules/dag/dag.yaml
  aws_application_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/application/**/*, examples/modules/application/application.yaml
  aws_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, examples/modules/bigip-autoscale/bigip-autoscale.yaml
  aws_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip-standalone.yaml
  aws_bigip_autoscale_payg_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/*, examples/autoscale/payg/autoscale.yaml
  aws_bigip_autoscale_bigiq_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, examples/autoscale/bigiq/autoscale.yaml
  aws_payg_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
  aws_byol_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
