Repository F5Networks/f5-aws-cloudformation-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: aws_network_module_test_job, aws_function_module_test_job, aws_access_module_test_job, aws_dag_module_test_job, aws_application_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

aws_network_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_function_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_access_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_dag_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_application_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_standalone_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_payg_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_bigiq_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

run parameter parser
  examples/autoscale/bigiq/autoscale-existing-network-parameters.json
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/payg/autoscale-existing-network-parameters.json
  examples/autoscale/payg/autoscale-parameters.json
  examples/failover/failover-existing-network-parameters.json
  examples/failover/failover-parameters.json
  examples/modules/bigip-autoscale/bigip-autoscale-parameters.json
  examples/modules/bigip-standalone/bigip-standalone-parameters.json
  examples/quickstart/quickstart-existing-network-parameters.json
  examples/quickstart/quickstart-parameters.json
Due: none

EC-311 - Failover existing stack should support deploying w/o primary EIP on external NIC
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/byol/existing/demo.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/byol/existing/demo_app.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/byol/existing/prod.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/byol/existing/prod_app.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/payg/existing/demo.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/payg/existing/demo_app.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/payg/existing/prod.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/payg/existing/prod_app.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_existing_stack.sh
  examples/failover/README.md
  examples/failover/failover-existing-network-parameters.json
  examples/failover/failover-existing-network.yaml
  examples/modules/network/README.md
Due: none

EC-273 - Failover full stack template fails when numAzs is 1
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/failover-existing-network.yaml
  examples/failover/failover.yaml
Due: none

EC-139 - Document using a secret to store and retrieve ASM cookie settings
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
Due: none

EC-129-2 - fix 1nic private use case
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/common/verify_traffic.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/common/verify_waf_blocking.sh
  examples/quickstart/README.md
  examples/quickstart/quickstart-existing-network.yaml
  examples/quickstart/quickstart.yaml
Due: aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

EC-367 - Owner tag value is not passed to substack
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/failover/failover-existing-network.yaml
  examples/failover/failover.yaml
  examples/modules/access/access.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/modules/dag/dag.yaml
  examples/modules/function/function.yaml
  examples/modules/network/network-parameters.json
  examples/modules/network/network.yaml
  examples/modules/telemetry/telemetry.yaml
  examples/quickstart/quickstart-existing-network.yaml
  examples/quickstart/quickstart.yaml
Due: aws_network_module_test_job, aws_function_module_test_job, aws_access_module_test_job, aws_dag_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

EC-351 - Document isolated VPC requirements
  examples/DEPLOYMENT-TRAFFIC-FLOWS.md
  images/deployment-artifact-location.png
  images/deployment-example-endpoints.png
  images/deployment-example-vpc-topology.png
  images/deployment-flow.png
  images/deployment-gateway-endpoint.png
  images/deployment-gateway-endpoints.png
  images/deployment-initialization-flow.png
  images/deployment-onboarded-flow.png
  images/deployment-runtime-init-config-1.png
  images/deployment-runtime-init-config-2.png
  images/deployment-runtime-init-package.png
Due: none

fix: use klayers for lambda functions
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/modules/access/README.md
  examples/modules/access/access.yaml
  examples/modules/function/function.yaml
Due: aws_function_module_test_job, aws_access_module_test_job

fix: update app/bastion instances to centos 9
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/payg/full/demo_app.yaml
  examples/modules/application/application.yaml
  examples/modules/bastion/bastion.yaml
Due: aws_application_module_test_job

fix: use ec2-user for bastion
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_as3.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_login.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/common/verify_ts.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_active_active.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_active_standby.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_failover.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_login.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/common/verify_sync.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bastion/tests/verify_bastion.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/common/verify_as3.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/common/verify_login.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/common/verify_secret_arn.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/modules/application/README.md
  examples/modules/bastion/README.md
  examples/quickstart/README.md
Due: none

chore: update params
  examples/autoscale/bigiq/autoscale-existing-network-parameters.json
  examples/autoscale/bigiq/autoscale-parameters.json
  examples/autoscale/payg/autoscale-existing-network-parameters.json
  examples/autoscale/payg/autoscale-parameters.json
  examples/failover/failover-existing-network-parameters.json
  examples/failover/failover-parameters.json
  examples/modules/bigip-autoscale/bigip-autoscale-parameters.json
  examples/modules/bigip-standalone/bigip-standalone-parameters.json
  examples/quickstart/quickstart-existing-network-parameters.json
  examples/quickstart/quickstart-parameters.json
Due: none

fix: il region updates
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/payg/full/demo_app.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/common/create_s3_bucket.sh
Due: none

fix: update app/bastion images, ami lookup layer
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/failover/payg/full/demo_app.yaml
  examples/modules/application/README.md
  examples/modules/application/application-parameters.json
  examples/modules/application/application.yaml
  examples/modules/application/sample_linked.yaml
  examples/modules/bastion/README.md
  examples/modules/bastion/bastion-parameters.json
  examples/modules/bastion/bastion.yaml
  examples/modules/bastion/sample_linked.yaml
  examples/modules/function/function.yaml
Due: aws_function_module_test_job, aws_application_module_test_job

docs: mark repository as unmaintained and clean up stale support claims
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  examples/DEPLOYMENT-TRAFFIC-FLOWS.md
  examples/README.md
  examples/autoscale/README.md
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/modules/access/README.md
  examples/modules/application/README.md
  examples/modules/bastion/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/modules/dag/README.md
  examples/modules/function/README.md
  examples/modules/network/README.md
  examples/modules/telemetry/README.md
  examples/quickstart/README.md
Due: none

Path conditions:
  aws_network_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/network/*, examples/modules/network/network.yaml
  aws_function_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/function/*, examples/modules/function/function.yaml
  aws_access_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/access/*, examples/modules/access/access.yaml
  aws_dag_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/dag/**/*, examples/modules/dag/dag.yaml
  aws_application_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/application/**/*, examples/modules/application/application.yaml
  aws_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, examples/modules/bigip-autoscale/bigip-autoscale.yaml
  aws_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip-standalone.yaml
  aws_bigip_autoscale_payg_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/*, examples/autoscale/payg/autoscale.yaml
  aws_bigip_autoscale_bigiq_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, examples/autoscale/bigiq/autoscale.yaml
  aws_payg_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
  aws_byol_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
