Repository F5Networks/f5-aws-cloudformation-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: aws_network_module_test_job, aws_function_module_test_job, aws_access_module_test_job, aws_dag_module_test_job, aws_application_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

aws_network_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_function_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_access_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_dag_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_application_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_standalone_module_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_payg_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

aws_bigip_autoscale_bigiq_example_test_job:
  image: ${ARTIFACTORY_SERVER}/dockerhub-remote/python:3.7-alpine
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  ...

bumped AT versions to latest as of 10-4
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none

add IAM capabilities flag to READMEs
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
Due: none

added missing backslash to READMEs
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
Due: none

removed escaped JSON string bit
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/failover/README.md
  examples/failover/failover-existing-network.yaml
  examples/failover/failover.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/modules/function/function.yaml
  examples/quickstart/quickstart-existing-network.yaml
  examples/quickstart/quickstart.yaml
Due: aws_function_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

updated az param descriptions
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/modules/dag/dag.yaml
Due: aws_dag_module_test_job

update param descriptions
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/modules/dag/README.md
  examples/modules/dag/dag.yaml
Due: aws_dag_module_test_job

updated test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

sync at metadata
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/failover/failover-existing-network.yaml
  examples/failover/failover.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

add LB provisioning logic to autoscale existing stack tests
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/create_existing_stack.sh
Due: aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job

add mgmt dhcp disable to multi-nic runtime configs
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none

Removed extra required networks from READMEs
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

3045 - Support local zones/make instance type freeform string
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/existing/demo.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/existing/demo_3nic.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/existing/demo_app_3nic.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/create_existing_stack.sh
  examples/autoscale/bigiq/autoscale-existing-network.yaml
  examples/autoscale/bigiq/autoscale.yaml
  examples/autoscale/payg/autoscale-existing-network.yaml
  examples/autoscale/payg/autoscale.yaml
  examples/failover/failover-existing-network.yaml
  examples/failover/failover.yaml
  examples/modules/application/application.yaml
  examples/modules/bastion/bastion.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/dag/README.md
  examples/modules/dag/dag-parameters.json
  examples/modules/dag/dag.yaml
  examples/quickstart/README.md
  examples/quickstart/quickstart-existing-network-parameters.json
  examples/quickstart/quickstart-existing-network.yaml
  examples/quickstart/quickstart.yaml
Due: aws_dag_module_test_job, aws_application_module_test_job, aws_bigip_autoscale_module_test_job, aws_bigip_autoscale_payg_example_test_job, aws_bigip_autoscale_bigiq_example_test_job, aws_payg_quickstart_test_job, aws_byol_quickstart_test_job

3219 - Add REST performance db variables
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job

Make it work in govcloud
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/full/demo_app_2nic.yaml
  automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/full/demo_app_3nic.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/access/access.yaml
  examples/modules/application/application.yaml
  examples/modules/bastion/bastion.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: aws_access_module_test_job, aws_application_module_test_job, aws_byol_quickstart_test_job

EC-47
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
Due: none

EC-88
  README.md
Due: none

update test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

update release job node version
  .gitlab-ci.yml
Due: none

EC-222 - custom cfeTag parameter value in failover examples
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_existing_stack.sh
  automated-test-scripts/f5-aws-cloudformation-v2/examples/failover/payg_byol/create_stack.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/bigip-autoscale/bigip-autoscale.yaml
  examples/modules/bigip-standalone/bigip-standalone.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: aws_bigip_autoscale_module_test_job, aws_bigip_standalone_module_test_job

removed linking
  examples/failover/README.md
Due: none

Path conditions:
  aws_network_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/network/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/network/*, examples/modules/network/network.yaml
  aws_function_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/function/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/function/*, examples/modules/function/function.yaml
  aws_access_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/access/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/access/*, examples/modules/access/access.yaml
  aws_dag_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/dag/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/dag/**/*, examples/modules/dag/dag.yaml
  aws_application_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/application/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/application/**/*, examples/modules/application/application.yaml
  aws_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-autoscale/*, examples/modules/bigip-autoscale/bigip-autoscale.yaml
  aws_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip-standalone.yaml
  aws_bigip_autoscale_payg_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/payg/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/payg/*, examples/autoscale/payg/autoscale.yaml
  aws_bigip_autoscale_bigiq_example_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/autoscale/bigiq/*, examples/autoscale/bigiq/autoscale.yaml
  aws_payg_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/payg/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
  aws_byol_quickstart_test_job: any of: automated-test-scripts/data/f5-aws-cloudformation-v2/examples/quickstart/byol/**/*, automated-test-scripts/f5-aws-cloudformation-v2/examples/quickstart/payg_byol/**/*, examples/quickstart/quickstart.yaml
